/*
Brand Colors
*/

:root {
  --spot-color: #2e2e2e;
}

/*
SVG Styles
*/

#hh-logo-sm {
  width: 100px;
  margin: auto;
  display: block;
}

/*
Layout Styles:
*/

#links {
  text-align: center;
}

body {
  margin: 0 auto;
}

header {
  width: 1000px;
  background-color: blue;
  height: 1000px;
}

article {
  max-width: 500px;
  padding-right: 25px;
  padding-left: 25px;
  margin: 0 auto;
}

footer {
  margin: 0 auto;
  font-family: carbon, sans-serif;
  font-size: 15px;
  color: var(--spot-color);
}

/*
Character Styles:
*/

h1 {
  font-family: carbon, sans-serif;
  font-size: 35px;
  color: var(--spot-color);
  text-align: center;
}

h3 {
  font-family: carbon, sans-serif;
  font-size: 18px;
  color: #e5e5e5;
}

p {
  /* font-family: garamond-premier-pro, serif; */
  font-family: source-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  color: #283c46;

  /* display: flex;
  justify-content: center; */
}

.firstcharacter {
  color: rgb(54, 54, 54);
  float: left;
  font-family: garamond-premier-pro;
  font-size: 90px;
  line-height: 60px;
  padding-top: 15px;
  padding-right: 8px;
  padding-left: 3px;
}
